{%- if icon != 'none' -%}
  {%- assign file = icon | replace: '_', '-' | prepend: 'icon-' | append: '.svg' -%}
  <span class="svg-wrapper" style="width: 30px; height: 30px;">
    {%- render file -%}
  </span>
{%- endif -%}
